.nav {
  background-color: white;
  position: sticky;
  top: 20px;
  z-index: 1000;
  justify-content: space-between;
  height: 80px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.36);
  align-items: center;
  margin-bottom: 20px;

  .buttons {
    display: flex;
    gap: 0 10px;

    .button {
      color: black;
      padding: 8px 16px;
      text-decoration: none;
      transition: 150ms;
      border-radius: 8px;

      &.active {
        background-color: cornsilk;
      }

      &.homeButton {
        border: 1px black solid;
      }

      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
}

