.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.36);
  width: 90%;
  border-radius: 20px;
  padding: 20px;
}

.formWrapper {
  display: flex;
  gap: 10px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  span {
    text-align: center;
  }
}

input, button {
  margin: 5px;
  padding: 10px;
  border-radius: 8px;
  border: 1px black solid;

}

.dataDisplayer {
  margin-bottom: 10px;
}
